@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.left {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-left {
    width: 100%;
    height: 100%;
    background: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.bg-top-mobile {
    display: none;
}

.cards {
    position: absolute;
    height: 60%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 15%;
    gap: 1rem;
}

.front {
    background: url(./images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 25%;
    width: 100%;
    height: 100%;
    isolation: isolate;
}

.front-content {
    width: inherit;
    height: inherit;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-logo {
    width: 100%;
    height: 20%;
    background-image: url(./images/card-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.card-text {
    width: 100%;
    position: inherit;
    height: 40%;
}

.card-number > h1 {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.name-and-expirydate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.name-and-expirydate > p {
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
}

.back {
    background: url(./images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.back > p {
    width: inherit;
    height: inherit;
    text-align: right;
    position: inherit;
    padding: 88px 42%;
    color: #fff;
    font-size: 16px;
}

.right {
    width: 45%;
    height: 100%;
    display: block;
    align-items: center;
}

.right-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


#form {
    width: 30%;
    height: 100%;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}

label {
    margin: 1.5rem 0 .4rem 0;
    font-size: 12px;
}

input {
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
    width: 100%;
    font-size: 20px;
}

input:focus {
    outline: none !important;
    border: 1px solid hsl(249, 99%, 64%);
}

::placeholder {
    color: hsl(279, 6%, 55%);
    font-size: 20px;
}

.exp-month-and-year {
    display: inline-block;
    margin: .5rem 0 1rem 0;
}

.exp-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1.3rem 0 0 0;
}

.deep-exp {
    width: 50%;
    text-align: left;
}

.deep-cvc {
    width: 48%;
    text-align: left;
}

.cvc {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
}


.short3 {
    width: 50%;
}

.exp {
    width: 22%;
}

.error {
    border: 1px solid red;
}

small {
    margin-top: .2rem;
    font-size: 11px;
    text-transform: lowercase;
    color: hsl(0, 100%, 66%);
    display: none;
}

.small-text {
    width: 100%;
    display: flex;
}

.exp-text {
    width: 50%;
    text-align: left;
}

.button {
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    width: 100%;
}

#done {
    width: 60%;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 1rem;
    display: none;
}

#done > h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

#complete {
    width: 38%;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: left;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}