@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body, html {
    width: 375px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 30%;
    position: relative;
}

.main-bg {
    height: 100%;
    width: inherit;
    background: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CARD STARTS */

.cards {
    width: 70%;
    height: 70%;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 2rem;
    right: 2rem;
    
}

.back {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    left: 1rem;
    padding: 0;
}


.back-text {
    position: absolute;
    top: 43%;
    left: 75%;
}


.back-text > h1 {
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 1.3px;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 3.5rem;
    top: 5rem;
    background: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

.front-content {
    margin: 10px 20px;
    width: 80%;
    height: 78%;
    position: absolute;
}

.card-logo {
    width: 100%;
    height: 25%;
    background-image: url(./images/card-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.card-text {
    position: absolute;
    top: 40%;
}

.card-number > h1 {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    margin-bottom: .5rem;
    word-spacing: 1.5px;
    text-align: center;
}

.name-and-expirydate {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 0;
}

.name-and-expirydate > p {
    font-size: 9px;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    text-transform: uppercase;
}

/* CARD ENDS */

/* FORM STARTS */

form {
    height: 50%;
    padding: 30px;
    margin-top: 3.2rem;
    font-size: 13px;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

label {
    margin: .7rem 0 .2rem 0;
}

input {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
}

::placeholder {
    color: hsl(279, 6%, 55%);
}

.exp-month-and-year {
    display: inline-block;
    margin: .2rem 0 .8rem 0;
}

.exp-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: .8rem 0 0 0;
}

.deep-exp {
    width: 50%;
    text-align: left;
}

.deep-cvc {
    width: 50%;
    text-align: left;
}

.cvc {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
}


.short3 {
    width: 60%;
}

.exp {
    width: 25%;
}

.button {
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

/* FORM ENDS */

.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 1rem;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}